<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  
  <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.egit.bc.BeyondCompareWithHeadAction"
            class="org.eclipse.egit.bc.BeyondCompareWithHeadActionHandler">
      </handler>
      <handler
            commandId="org.eclipse.egit.bc.BeyondCompareWithPreviousAction"
            class="org.eclipse.egit.bc.BeyondCompareWithPreviousActionHandler">
      </handler>
   </extension>
  
  <extension point="org.eclipse.ui.commands">
    <command name="Compare with HEAD Beyond Compare (GIT)" categoryId="org.eclipse.egit.ui.commandCategory" id="org.eclipse.egit.bc.BeyondCompareWithHeadAction">
    </command>
    <command name="Compare with Previous Beyond Compare (GIT)" categoryId="org.eclipse.egit.ui.commandCategory" id="org.eclipse.egit.bc.BeyondCompareWithPreviousAction">
    </command>
  </extension>
   
   <extension point="org.eclipse.ui.bindings">
        <key sequence="M1+M2+C"
            commandId="org.eclipse.egit.bc.BeyondCompareWithHeadAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"/>
    </extension>

   <extension point="org.eclipse.ui.popupMenus">   
     <objectContribution
            adaptable="true"
            id="org.eclipse.egit.ui.resourceContributions"
            objectClass="org.eclipse.core.resources.IResource">
         <filter name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.eclipse.egit.core.GitProvider">
         </filter>
          <action
               class="org.eclipse.egit.bc.BeyondCompareWithPreviousAction"
               definitionId="org.eclipse.egit.ui.team.CompareWithPrevious"
               enablesFor="1"
               id="org.eclipse.egit.bc.BeyondCompareWithPreviousAction"
               label="%BeyondCompareWithPreviousAction.label"
               menubarPath="compareWithMenu/gitBCCompareWithGroup"/>
          <action
               class="org.eclipse.egit.bc.BeyondCompareWithHeadAction"
               id="org.eclipse.egit.bc.BeyondCompareWithHeadAction"
               label="%BeyondCompareWithHeadAction_label"
               menubarPath="compareWithMenu/gitBCCompareWithGroup"/>      
          <action
               class="org.eclipse.egit.bc.BeyondCompareWithCommitAction"
               id="org.eclipse.egit.bc.BeyondCompareWithCommitAction"
               label="%BeyondCompareWithCommitAction.label"
               menubarPath="compareWithMenu/gitBCCompareWithGroup"/>
          <action
               class="org.eclipse.egit.bc.BeyondCompareWithRefAction"
               id="org.eclipse.egit.ec.BeyondCompareWithRefAction"
               label="%BeyondCompareWithBranchOrTagAction.label"
               menubarPath="compareWithMenu/gitBCCompareWithGroup"/>     
       </objectContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.egit.ui.GitPreferences"
            class="org.eclipse.egit.bc.preferences.BeyondCompareEgitPreferencePage"
            id="org.eclipse.egit.ui.bc.preferences.BeyondCompareEgitPreferencePage"
            name="%BeyondCompareEgitPreferencePage.name">
         <keywordReference
               id="org.eclipse.egit.ui.keyword.git">
         </keywordReference>
      </page>
   </extension>
</plugin>
